body{
  background-image: url('images/宇宙背景.png');
  font-family: 'Fjalla One', sans-serif;
  color:white;

}
ul{
  list-style-type:none;
}
input{
  border-radius: 0.2;
}
.commentq{
  position: absolute;
  top:20%;
  left:40%;
}
.commenta{
  position: absolute;
  top:50%;
  left:40%;
}
