<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="assets/css/order.css"  />      
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.masonry.min.js"></script>
		<script type="text/javascript" src="assets/js/order.js"></script> 
		<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<head>
	<!-- lightbox --> 
<link rel="stylesheet" href="assets/css/lightbox.css" type="text/css" media="screen" />	<!-- lightbox -->
<link rel="stylesheet" href="assets/css/order.css">
<link rel="stylesheet" href="assets/css/animate.css" type="text/css">
<link rel="stylesheet" href="assets/css/menu.css" type="text/css">
    <meta charset="utf-8">
	<title></title>
</head>
<body>
<div id="pen">
			<img src="assets/images/penorder.png" height="250" width="60vw" alt="">
		</div>
		<div id="circir">
       
        <span id="circle2">
            <a href="/" ><p>Age8</p></a>
        </span>
        <div id="menuthing">
           <a href="contact" ><span id="menu" class="contact"><p>contact</p></span></a>
            <a href="work" ><span id="menu" class="work"><p>work</p></span></a>
            <a href="about"><span id="menu" class="about"><p>about</p></span></a>
            <span id="menu" class="order"><p>order</p></span>
            <a href="relate" ><span id="menu" class="relate"><p>relate</p></span></a>
            <a href="order" ><span id="menu" class="order"><p>order</p></span></a>
        </div>
    </div>
	<header>
		<img src="assets/images/rabbit.png" height="30" width="30" alt=""><p>Choose the product you want</p>
		<br>
		<div id="buy"><a href="about" target="main"><input type="button" onclick="formSubmit()" value="BUY!" id="sub" name="tett"></a></div>
	</header>
	<div class="wrapper" id="container" >

			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="WAR IN HISTORY" href="assets/images/01.png" height="2693" width="2244"><img src="assets/images/01.png"></a><p>WAR IN HISTORY</p></div>
		    <div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="SPIDER MONSTER" href="assets/images/02.png" height="3508" width="2480"><img src="assets/images/02.png"></a><p>SPIDER MONSTER</p></div>
		    <div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="COLD INSIDE" href="assets/images/03.png" height="754" width="556"><img src="assets/images/03.png"></a><p>COLD INSIDE</p></div>
		    <div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="DARK ELF" href="assets/images/04.png" height="3508" width="2480"><img src="assets/images/04.png"></a><p>DARK ELF</p></div>
		    <div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="FIGHT FOR YOU" href="assets/images/05.png" height="1500" width="1125"><img src="assets/images/05.png"></a><p>FIGHT FOR YOU</p></div>
		    <div class="pin masonryp-brick" style=""><a rel="lightbox[album2]" title="MISSIOM-1" href="assets/images/06.png" height="1050" width="1680"><img src="assets/images/06.png"></a><p>MISSIOM-1</p></div>
		    <div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="SHEEP" href="assets/images/07.png" height="3508" width="2480"><img src="assets/images/07.png">
		    </a><p>SHEEP</p></div>
		    <div class="pin masSHEEPonry-brick" style=""><a rel="lightbox[album2]" title="BY THW SEA" href="assets/images/08.png" height="2480" width="3508"><img src="assets/images/08.png"></a><p>WAR IN HISTORY</p></div>
		    <div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="MERMAID" href="assets/images/10.png" height="1500" width="1125"><img src="assets/images/10.png"></a><p>MERMAID</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="GAMELOGO" href="assets/images/11.png" height="2984" width="2999"><img src="assets/images/11.png"></a><p>GAMELOGO</p></div> 
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="THINKING" href="assets/images/12.png" height="1500" width="1125"><img src="assets/images/12.png"></a><p>THINKING</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="SMOKING" href="assets/images/13.png" height="2480" width="3508"><img src="assets/images/13.png"></a><p>SMOKING</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="HEY!" href="assets/images/14.png" height="2480" width="3508"><img src="assets/images/14.png"></a><p>HEY!</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="BATTLE HERE" href="assets/images/15.png" height="2480" width="3508"><img src="assets/images/15.png"></a><p>BATTLE</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="LISTEN" href="assets/images/16.png" height="2480" width="3508"><img src="assets/images/16.png"></a><p>LISTEN</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="WOLF" href="assets/images/17.png" height="2480" width="3508"><img src="assets/images/17.png"></a><p>WOLF</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="Long Long Ago" href="assets/images/18.png" height="2480" width="3508"><img src="assets/images/18.png"></a><p>Long Long Ago</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="HOLY WAR" href="assets/images/19.png" height="2480" width="3508"><img src="assets/images/19.png"></a><p>HOLY WAR</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="KING'S DRAGON" href="assets/images/20.png" height="2480" width="3508"><img src="assets/images/20.png"></a><p>KING'S DRAGON</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="NAME CARD" href="assets/images/21.png" height="2480" width="3508"><img src="assets/images/21.png"></a><p>NAME CARD</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="Emperor and Nightingale" href="assets/images/22.png" height="2480" width="3508"><img src="assets/images/22.png"></a><p>Emperor and Nightingale</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="DREAM" href="assets/images/23.png" height="2480" width="3508"><img src="assets/images/23.png"></a><p>DREAM</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="LEAVE" href="assets/images/24.png" height="2480" width="3508"><img src="assets/images/24.png"></a><p>LEAVE</p></div>
			<div class="pin masonry-brick" style=""><a rel="lightbox[album2]" title="HIGHER" href="assets/images/25.png" height="2480" width="3508"><img src="assets/images/25.png"></a><p>HIGHER</p></div>
		</div>
		<script language=javascript>
				var df = prompt("Please enter your name: ");
				document.tett.tf.value = df;
			</script>
<script type="text/javascript" src="assets/js/lightbox-plus-jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="assets/js/work.js"></script>
</body>
</html>