<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="assets/css/order.css"  />      
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.masonry.min.js"></script>
		<script type="text/javascript" src="assets/js/order.js"></script> 
		<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<head>
	<!-- lightbox --> 
<link rel="stylesheet" href="assets/css/lightbox.css" type="text/css" media="screen" />	<!-- lightbox -->
<link rel="stylesheet" href="assets/css/work.css">
<link rel="stylesheet" href="assets/css/animate.css" type="text/css">
<link rel="stylesheet" href="assets/css/menu.css" type="text/css">
    <meta charset="utf-8">
	<title></title>
</head>
<body>
		<div id="pen">
			<img src="assets/images/penrelate.png" height="250" width="60vw" alt="">
		</div>
		<div id="circir">
       
        <span id="circle2">
            <a href="/" ><p>Age8</p></a>
        </span>
        <div id="menuthing">
           <a href="contact"  ><span id="menu" class="contact"><p>contact</p></span></a>
            <a href="work" ><span id="menu" class="work"><p>work</p></span></a>
            <a href="about" ><span id="menu" class="about"><p>about</p></span></a>
            <span id="menu" class="order"><p>order</p></span>
            <a href="relate" ><span id="menu" class="relate"><p>relate</p></span></a>
            <a href="order" ><span id="menu" class="order"><p>order</p></span></a>
        </div>
    </div>
		<div class="wrapper" id="container" >
			<div class="pin masonry-brick" style=""><a href="#" onclick="window.open('https://www.facebook.com/home29967829');"><img src="assets/images/0001.png"></a><p>FaceBook</p></div>
		    <div class="pin masonry-brick" style=""><a href="#" onclick="window.open('https://twitter.com/?lang=zh-tw');"><img src="assets/images/0002.png"></a><p>Twitter</p></div>
		    <div class="pin masonry-brick" style=""><a href="#" onclick="window.open('http://home.gamer.com.tw/homeindex.php?owner=home29967829');"><img src="assets/images/0003.png"></a><p>巴哈姆特</p></div>
		    <div class="pin masonry-brick" style=""><a href="#" onclick="window.open('https://sovereignviolet.artstation.com/');"><img src="assets/images/0004.png"></a><p>Artstation</p></div>
		    
		</div>
<script type="text/javascript" src="assets/js/lightbox-plus-jquery.js"></script>
<script type="text/javascript" src="assets/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="assets/js/work.js"></script>
</body>
</html>