<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
		<script src="js/ejs_production.js"></script>
	<link rel="stylesheet" href="css/contact.css" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/animate.css" type="text/css">
	
	<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="js/order.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/menu.css" type="text/css">
	<title></title>
</head>

<body>
	<div id="pen">
		<img src="images/pencontact.png" height="250" width="60vw" alt="">
	</div>
	<div id="circir">

		<span id="circle2">
            <a href="/" ><p>Age8</p></a>
        </span>
		<div id="menuthing">
			<a href="contact"><span id="menu" class="contact"><p>contact</p></span></a>
			<a href="work"><span id="menu" class="work"><p>work</p></span></a>
			<a href="about"><span id="menu" class="about"><p>about</p></span></a>
			<span id="menu" class="order"><p>order</p></span>
			<a href="relate"><span id="menu" class="relate"><p>relate</p></span></a>
			<a href="order"><span id="menu" class="order"><p>order</p></span></a>
		</div>
	</div>
	<!--<div id="loginenter">
        <%- include('login'); %>
	</div>
    <div id="registerenter"> 
	</div>-->
	<div id="content">
		<div id="map">
			<div id="where">
				<img src="images/rabbit.png" height="30" width="30" alt="">
				<p>WHERE am I ?</p>
			</div>

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.4345168380582!2d121.44694161494301!3d25.053257743673225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a87e289472a1%3A0xe24d4cb813b6255e!2zMjQy5paw5YyX5biC5paw6I6K5Y2A5Lit5qau6KGXNTblt7c36Jmf!5e0!3m2!1szh-TW!2stw!4v1446917475962"
			 width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div id="usernew">
			<%- include('form'); %>
	</div>
	
	
	</div>
	

	
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/work.js"></script>
</body>

</html>