<h1>User Login</h1>
<img src="images/rabbit.png" height="30" width="30" alt="">
<div class='logindata'>User:</div> <input type="text"  id="user"/><br />
<img src="images/rabbit.png" height="30" width="30" alt="">
<div class='logindata'>password:</div> <input type="text"  id="password"/><br />


<button class="login-submit">Login</button>
<button class="register-submit">Register</button>