<h1>User Detail</h1>
<div>
  <span class='name'>name:</span>
  <span><%= userinfo['name'] %></span>
</div>
<div>
  <span class='name'>email:</span>
  <span><%= userinfo['email'] %></span>
</div>
<div>
  <span class='name'>problem:</span>
  <span><%= userinfo['problem'] %></span>
</div>

