<h1>User Register</h1>
<img src="images/rabbit.png" height="30" width="30" alt="">
<div class='registerdata'>User:</div> <input type="text"  id="reuser"/><br />
<img src="images/rabbit.png" height="30" width="30" alt="">
<div class='registerdata'>password:</div> <input type="text"  id="repassword"/><br />

<button class="register-stored" <h1>Person: <%= ID %></h1>>Register</button>