body{
      margin: 0;  
    padding: 0;
    background:rgb(210,204,157);
} 
#pen{
  display: inline-block;
  position: fixed;
  z-index: 3;
}
head{
  @font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
}
.wrapper{
        width: 90%;  
        margin:0 auto;
 }

.pin{
        float:left;
        margin: 10px;
        padding:0px;
        background:#ACA06C;
        box-shadow:0 10px 10px #757575;
        
}
.pin img{
        width:190px;
        -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            position: relative;
            z-index: 1;
}
.pin img:hover{
  -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);

}
.pin p{
  position: relative;
  z-index: 2;
  color: #E3F0C0;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 20px;
  margin: auto;
  }

  /*     Animating with CSS transitions   */
  .masonry,
  .masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
       -moz-transition-duration: 0.7s;
        -ms-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }


  .masonry {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
        -ms-transition-property: height, width;
         -o-transition-property: height, width;
            transition-property: height, width;
  }

  .masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
       -moz-transition-property: left, right, top;
        -ms-transition-property: left, right, top;
         -o-transition-property: left, right, top;
            transition-property: left, right, top;
  }
#container{
  margin-top: 10vh;
}
#rabbit{
  width: 40vw;
  position: relative;
  left: 50%;
  margin-left:-10vw;
  top: 5vh;
}
#rabbit p{
  color: rgb(99,98,53);
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 3vw;
  line-height: 3px;
}
